.member_since_text {
    margin-top: 40px;
}

.stats {
    text-align: center;
    padding: 0px 40px 10px 40px;
}

.stats_data {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.tertiary_text {
    color: var(--tertiary-text-color);
    font-size: 12px;
}

.sec_text {
    color: var(--secondary-text-color);
    font-size: 12px;
}

.date_range {
    margin-top: 10px;
}

.amount {
    font-size: 38px;
}

sup {
    font-size: 15px;
}