<div class="container">

    <div class="header">
        <div class="main_heading">{{pageTitle}}</div>
    </div>

    <div class="stats">

        <div class="member_since_text tertiary_text">
            Member since 9-4-2023
        </div>

        <div class="stats_data">
            <div class="date_range sec_text">
                Dec 24-28
            </div>
            <div class="amount">
                <sup>$</sup><span>453</span><sup>.56</sup>
            </div>
            <div class="matches tertiary_text">
                32 matches in 88hr 10m
            </div>
            <lib-list-btn class="mainActionButton">Instant cash out $453.45</lib-list-btn>

            <div class="next_payout tertiary_text">
                Next payout Sat. Dec 30
            </div>

        </div>

    </div>

    <div class="section">
        <lib-section-separator></lib-section-separator>
        <div class="section_content">
            <app-basic-info></app-basic-info>
        </div>
    </div>

    <div class="section">
        <lib-section-separator></lib-section-separator>
        <div class="section_content">
            <app-payout></app-payout>
        </div>
    </div>

    <div class="section">
        <lib-section-separator></lib-section-separator>
        <div class="section_content">
            <app-notifications-settings></app-notifications-settings>
        </div>
    </div>

    <div class="section">
        <lib-section-separator></lib-section-separator>
        <div class="section_content">
            <app-general-settings></app-general-settings>
        </div>
    </div>

    <div class="section">
        <div class="section_content">
            <app-membership></app-membership>
        </div>
    </div>

</div>