.container {
    /* background-color: var(--primary-color); */
}

.main_heading {
    /* width: 280px; */
    display: flex;
    margin-top: 48px;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-large);
}