<div class="container">

    <div class="main_heading">{{pageTitle}}</div>

    <div class="stats">

        <div class="member_since_text">
            Member since 9-4-2023
        </div>

        <div>
            Dec 24-28
            <br>
            $453.45
            <br>
            32 matches in 88hr 10m
            <br>
            <lib-list-btn>Instant cash out $453.45</lib-list-btn>

            <div>
                Next payout Sat. Dec 30
            </div>

        </div>

    </div>

    <br><br>
    <lib-section-separator></lib-section-separator>

    <app-basic-info></app-basic-info>

    <br><br>

    <lib-section-separator></lib-section-separator>

    <app-payout></app-payout>

    <br><br>
    <lib-section-separator></lib-section-separator>
    <br><br>
    <app-membership></app-membership>

</div>