:root {
    --lib-primary-button-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.membership_settings {
    display: flex;
    flex-flow: column;
    gap: 25px;
    padding-bottom: 20px;
    max-width: var(--app-max-width);
}