<div class="inner_container">

    <lib-list [listItems]="otherListItems" [listTitle]="'Other'"></lib-list>


    <div class="section">
        <lib-section-separator></lib-section-separator>
        <div class="section_content">
            <lib-list [listItems]="securityAndPrivacyListItems" [listTitle]="'Security and Privacy'"></lib-list>
        </div>
    </div>

    <div class="section">
        <lib-section-separator></lib-section-separator>
        <div class="section_content">
            <lib-list-toggle [listItems]="testingListItems" [listTitle]="'Testing'"
                [ngClass]="{'toggleList': true}"></lib-list-toggle>
        </div>
    </div>

</div>