/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter+Tight:wght@200&family=Lobster&family=Open+Sans:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

:root {
    --primary-color: #29252D;
    --secondary-color: #2ecc71;
    --font-size-medium: 16px;
    --font-size-large: 24px;
    --primary-text-color: #fff;
    --secondary-text-color: rgba(168, 168, 168, 1);
    --tertiary-text-color: rgba(102, 102, 102, 1);
    --app-max-width: 500px;

}

body {
    background-color: var(--primary-color);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-medium);
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.prevent-scroll {
    overflow: hidden;
}

@font-face {
    font-family: lato;
    src: url(/assets/font/Gilroy-Regular.ttf) format("truetype");
}

.toggleList .circle-holder {
    --padding: 0px !important;
}